{
    "presets": [
        "react",
        [
            "env",
            {
                "targets": {
                    "browser": "last 2 version"
                },
                "loose": true,
                "modules": false
            }
        ]
    ]
}